body {
    font-family: sans-serif;
    background-image: url(../image/UFERSA.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    color: #3284ff;
}

h2{
    text-align: center;
    color: #5193f7;
    font-size: medium;
}

h3{
    text-align: center;
    color: #030405;
    font-size: normal;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type="number"] {
    width: 100px;
    margin-right: 10px;
    text-align: center;
}

input[type="button"] {
    background-color: #2735ff;
    border: none;
    color: rgb(140, 203, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

#result{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #3300eb;
}
