body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type="number"] {
    width: 100px;
    margin-right: 10px;
    text-align: center;
}

input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

#result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
